version: "3.9"  
services:  
  app:  
    build: .  
    volumes:  
      - .:/app  
    working_dir: /app  
    environment:  
      - CDP_API_KEY_NAME=${CDP_API_KEY_NAME}  
      - CDP_API_KEY_PRIVATE_KEY=${CDP_API_KEY_PRIVATE_KEY}  
    ports:  
      - "8000:80" #Expose your app in a specific port  